<nav class="navbar navbar-light bg-light">
  <a href="#" class="navbar-brand mr-auto">BlockChain Polls</a>
  <button type="button" class="btn btn-secondary">Crear Encuesta</button>
</nav>


<section class="jumpotron bg-light text-center">
  <h1>Encuestas Pensadas</h1>
  <p class="lead text-muted">Powered by JDVPL</p>
</section>


<app-poll-create></app-poll-create>
<div class="d-flex">
  <div class="poll-list container">
    Lista
  </div>
  <div class="container poll-detail">
    Detalle
  </div>

</div>
